<div class="container container-sm container-md container-lg container-xl">
  <app-album-form
  (addDeezAlbums)="updateDeezerAlbums($event)"
  (addITunAlbums)="updateITunesAlbums($event)"
  (querySearchITunes)="updateQuerySearchITunes($event)"
  (itunesPageSize)="updateITunesPageSize($event)"
  ></app-album-form>
  <div *ngIf="itunesAlbums.length && deezerAlbums.length">
    <app-artist [currentArtiest]="currentArtiest"></app-artist>
    <app-deezer-album
      [deezerAlbums]="deezerAlbums"
      [dataNextDeezerAlbums]="dataNextDeezerAlbums"
      (addDeezAlbums)="updateDeezerAlbums($event)"
    ></app-deezer-album>
    <app-itunes-album
      [querySearch]="querySearch"
      [itunesPageSize]="itunesPageSize"
      [itunesAlbums]="itunesAlbums"
      (addITunesAlbums)="updateITunesAlbums($event)"
    ></app-itunes-album>
  </div>
</div>
