<div class="container container-sm container-md container-lg container-xl">
  <app-album-form
  (addDeezAlbums)="updateDeezerAlbums($event)"
  (addITunAlbums)="updateITunesAlbums($event)"
  (querySearchITunes)="updateQuerySearchITunes($event)"
  (itunesPageSize)="updateITunesPageSize($event)"
  ></app-album-form>
  <div *ngIf="itunesAlbums.length && deezerAlbums.length">
    <div class="row">
      <div class="col">
        <div *ngFor="let curArtist of currentArtiest let idx = index">
          <div class="row">
            <div class="col">
              <img src="{{curArtist.picture}}" alt="{{idx}}">
            </div>
            <div class="col">
              <h6>Name: {{curArtist.name}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-deezer-album
      [deezerAlbums]="deezerAlbums"
      [dataNextDeezerAlbums]="dataNextDeezerAlbums"
      (addDeezAlbums)="updateDeezerAlbums($event)"
    ></app-deezer-album>
    <app-itunes-album
      [querySearch]="querySearch"
      [itunesPageSize]="itunesPageSize"
      [itunesAlbums]="itunesAlbums"
      (addITunesAlbums)="updateITunesAlbums($event)"
    ></app-itunes-album>
  </div>
</div>
