<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-row">
      <div class="col-md-10">
        <div class="col">
          <div class="input-group">
            <input
              class="form-control"
              type="search"
              placeholder="Enter your favorite artist"
              aria-label="Search"
              autofocus
              formControlName="querySearch"
            >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-12">
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artist</th>
        <th scope="col">Image</th>
        <th scope="col">Barcode</th>
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="col">Size</th>
        <th scope="col">Color</th>
        <th scope="col">Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Set Discount</th>
        <th scope="col">Date</th>
        <th scope="col">Premium</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody class="accordion">
      <tr
        *ngFor="let track of tracks"
        class="accordion-item"
      >
        <td>track</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
